BEGIN;
--
-- Create model Book
--
CREATE TABLE "bookshelf_book" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(200) NOT NULL, "author" varchar(100) NOT NULL, "publication_year" integer NOT NULL);
COMMIT;
